name: Pull Request
on: [push]

jobs:
  start-job:
    name: Start Job
    runs-on: ubuntu-latest
    steps:
      - name: Start Job.
        run: echo "PR created. Builds will be triggered here for forked PRs or Buildkite for internal PRs."


  ubuntu-1804-build:
    # if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
    name: Ubuntu 18.04 | Build
    runs-on: ubuntu-latest
    needs: start-job
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Build
        run: | 
          ./.cicd/build.sh
          tar -pczf build.tar.gz build
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: ubuntu-1804-build
          path: build.tar.gz
  ubuntu-1804-parallel-test:
    name: Ubuntu 18.04 | Unit Test
    runs-on: ubuntu-latest
    needs: ubuntu-1804-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-1804-build
      - name: Parallel Test
        run: | 
          tar -xzf ubuntu-1804-build/build.tar.gz
          ./.cicd/test.sh
